.headerContainer {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  a {
    width: 50%;
  }
}

.posts {
  margin: 5rem 0;

  a {
    display: block;

    & + a {
      margin-top: 1.5rem;
      padding-top: 1.5rem;
    }

    h1 {
      font-weight: 600;
    }

    h2 {
      color: var(--gray-100);
      font-weight: 400;
      font-size: 1.5rem;
      margin-top: 1rem;
    }

    div {
      display: flex;
      margin-top: 1.5rem;
    }

    p {
      display: flex;
      align-items: center;
      font-size: 1rem;
      color: var(--gray-200);

      & + p {
        margin-left: 2rem;
      }
      span {
        margin-right: 0.5rem;
      }
    }
    transition: filter 0.2s;
    &:hover {
      filter: brightness(1.5);
    }
  }
  & + a {
    color: var(--pink-500);
    cursor: pointer;
    transition: filter 0.2s;
    &:hover {
      filter: brightness(0.9);
    }
    & + aside {
      margin: 5rem 0;
      background: var(--white);
      color: var(--black);
      border-radius: 0.25rem;
      font-size: 1.125rem;
      font-weight: 600;
      height: 3rem;
      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.9);
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
      }
    }
  }
}
